
nav { 
  background: #071c40;
}

nav a.navbar-brand { 
  padding-left: 20px;
  color: white;
  font-weight: bold;
}



#CustomApp .search-custom-btn, #CustomApp .episodes-button { 
  background-color: #071c40;
  color: white;
  font-weight: bold;
}

#CustomApp .show-description { 
  float: right;
}

#CustomApp .jumbotron { 
  margin-top: 40px;
}

#CustomApp .search-icon-custom { 
  position: absolute;
  top: 12px;
  left: 25px;
}

#CustomApp .search-input-custom { 
  padding-left: 35px;
}

#CustomApp .show-item.row { 
    padding: 20px 0;
    margin: 10px 0;
}

#CustomApp .show-item img, #CustomApp .show-item div { 
  float: left;
}

#CustomApp .show-item div { 
  width: 70%;
  padding: 0 20px;
}

#CustomApp .show-item .show-title { 
  font-size: 3em;
}

#CustomApp .show-item .img-thumbnail { 
  margin: 0 20px;
}

#CustomApp #search-results { 
  padding: 20px;
}

#CustomApp .seasons-custom {
  padding: 20px 0;
}